<!-- * * * * * * * Edite o que está abaixo * * * * * * * * * * * * * -->

<div class="bar">
    <mat-toolbar color="primary">
        <h1 class="espacado">BlogJava</h1>
        <a type="button" href="index.html" class="mybtn">Home</a>
        <a type="button" class="mybtn" color="primary" [matMenuTriggerFor]="menu" mat-button style="margin-right:0px !important">More</a>
        <mat-menu #menu="matMenu">
            <a routerLink="/register" class="teste"><button mat-menu-item>Registrar-se</button></a>
        </mat-menu>
    </mat-toolbar>
</div>
<!-- * * * * * * * * * * Edite o que está acima * * * * * * * * * * -->
<router-outlet></router-outlet>
<app-index-posts></app-index-posts>
