<!-- * * * * * * * Edite o que está abaixo * * * * * * * * * * * * * -->
<p class="bar">
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Home button" color="primary">
            <a href="index.html"><mat-icon>home</mat-icon></a>
        </button>
        <h1 class="espacado">BlogJava</h1>
        <button mat-icon-button aria-label="Menu button" color="primary" >
            <mat-icon color="primary">menu</mat-icon>
        </button>
    </mat-toolbar>
</p>
<!-- * * * * * * * * * * Edite o que está acima * * * * * * * * * * -->

<router-outlet></router-outlet>
